@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
  -webkit-overflow-scrolling: touch;
}
.Intro {
  position: absolute;
  top: 8em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 85vw;
  max-width: 450px;
  /* text-align: center; */
  padding: 7px;
  background-color: rgba(250,250,250,0.95);
  border-radius: 7px;
  box-shadow: 1px 1px 57px rgba(29,29,29,0.3);
  transition: 0.6s;
}
.Register {
  position: absolute;
  /* top: -0.5em; */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100vw;
  max-width: 450px;
  
  /* margin-bottom: 10rem; */
  /* text-align: center; */
  padding: 7px;
  background-color: rgba(250,250,250,0.95);
  border-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 1px 1px 57px rgba(29,29,29,0.3);
  transition: 0.8s;
}
.welcome-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../assets/bg/beach-lovers.jpg') no-repeat center;
  /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); */
  filter: blur(3px);
  background-size: cover;
  overflow-x: scroll;
}
.logo {
  color: #fff;
  font-size: 2.2em;
  line-height: 1em;
  padding-left: 0.2em;
  font-family: 'Poiret One', cursive;
  font-weight: 700;
}
.logo-sm {
  position: absolute;
  color: #595959;
  font-size: 1.7em;
  line-height: 0.2em;
  width: 100%;
  font-family: 'Poiret One', cursive;
  font-weight: 700;
}
.login-btn {
  color: #fff;
  font-size: 1.4em;
  line-height: 1.9em;
  padding-right: 0.4em;
  font-family: 'Poiret One', cursive;
  font-weight: 700;
}
.close {
  font-size: 1.4em;
  margin-top: 1.05em!important;
}
.close-noti {
  font-size: 1.4em;
  line-height: 3.5em;
  padding-right: 0.5em;
  /* margin-top: 2.05em!important; */
}
#header {
  position: fixed!important;
  top: 0;
}
.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.content {
  position: fixed;
  top: 0px;
  left: 0px;
  transition: 0.3s ease-in-out;
}
.topbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 3em;
  background-color: rgba(252,252,252,0.99);
  border: 0px;
  border-bottom: 1px;
  border-color: #ddd;
  border-style: solid;
  z-index: 3;
}
.menus-panel {
  position: fixed;
  width: 100vw;

  /* bottom: -50vh; */
  background-color: #fff;
  transition: 0.3s ease-in-out;
  z-index: 3;
}
.menubar {
  position: absolute;
  top: -3em;
  left: 0px;
  width: 100vw;
  height: 3em;
  background-color: rgba(252,252,252,0.98);
  border: 0px;
  border-top: 1px;
  border-color: #ddd;
  border-style: solid;
  text-align: center;
  z-index: 4;
  transition: 0.2s ease-in-out;
}
.menulink {
  width: 20%;
  /* border-radius: 0px */
}
.menulink-sel {
  width: 20%;
  color: rgb(0, 153, 213);
}
.topbar i {
  font-size: 1.5em;
  line-height: 1.45em;
}
.menubar i {
  font-size: 1.4em;
  line-height: 1.4em;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}
.search-btn {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.8em;
  font-size: 1.2em!important;
  line-height: 3.9em!important;
  color: #fff;
  background: linear-gradient(to top, rgba(200,100,100,0) 17%, rgba(200,100,100,1) 10%);
  width: 4em;
  max-width: 5em;
  height: 4em;
  max-height: 5em;
  border-radius: 360px;
}


.main-center {
  position: relative;
  top: 0;
  /* left: 200%; */
  width: 100vw;
  height: 100vh;
  transition-timing-function: ease;
  transition: 0.3s;
  overflow: hidden;
}
.menu-head {
  margin: 0em!important;
  line-height: 2.9em;
  z-index: 3;
}
.menu-nav {
  position: fixed;
  top: 0em;
  /* padding-top: 1em; */
  width: 100vw;
  height: 3em;
  /* background: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%); */
  background-color: rgba(252, 252, 252, 0.99);
  border: 0px;
  border-bottom: 1px;
  border-color: #ddd;
  border-style: solid;
  z-index: 3;
}
.menu-nav i {
  font-size: 1.25em;
  line-height: 2.6em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  z-index: 4;
}

.noti-panel {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 2.5em;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow-x: scroll;
  z-index: 0;
}
.settings-panel {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0em;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow-x: scroll;
  z-index: 0;
}
.messages-panel {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100vw;
  height: 100%;
  background-color: rgb(255, 255, 255);
  overflow-x: scroll;
  z-index: 2
}
.noti-panel-cnt {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 100vw;
  height: 100vh;
  transition-timing-function: ease;
  transition: 0.3s;
  z-index: 1;
}

.showAllUsers {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding-top: 7.2em;
  padding-bottom: 3em;
  top: 0em;
  left: 0;
  overflow-y: scroll;
}

.user-avatar {
  float: left;
  width: 25vw;
  height: 25vw;
  position: relative;
  top: -70px;
  margin: 4.1vw;
  border-color: #292929;
  border-style: solid;
  border-radius: 360px;
  border-width: 1px;
  background-color: #eee;
}

.message-header {
  position: relative;
  top: 1px;
  right: 2vw;
  left: 2vw;
  margin-bottom: -1px;
  width: 96vw;
  height: 5em;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px;
  border-color: #ddd;
  border-style: solid;
}

.usr-thumb-sm {
  position: absolute;
  left: 0px;
  height: 5em;
  width: 5em;
  z-index: 1;
}

.message-prev {
  position: absolute;
  left: 0px;
  padding-left: 5em;
  width: 100%;
  height: 5em;
  z-index: 0;
  overflow: hidden;
}
img.usr-thumb-pic-sm {
  position: absolute;
  top: 0.5em;
  width: 4em;
  height: 4em;
}
span.message-prev {
  width: 100%;
  height: 4.5em;
  padding-top: 0.5em;
}

.inner-cnt {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100vw;
  height: 100%;
  background-color: rgb(255, 255, 255);
  overflow-x: scroll;
  z-index: 0;
}
.noti-header {
  position: relative;
  top: 1px;
  right: 2vw;
  left: 2vw;
  margin-bottom: 0px;
  width: 96vw;
  height: 3em;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px;
  border-color: #ddd;
  border-style: solid;
}

.usr-thumb-xsm {
  position: absolute;
  left: .3em;
  height: 3em;
  width: 3em;
  z-index: 1;
}

.noti-prev {
  position: absolute;
  left: 0px;
  padding-left: 3em;
  width: 100%;
  height: 3em;
  z-index: 0;
  overflow: hidden;
}
img.usr-thumb-pic-xsm {
  position: absolute;
  top: 0.5em;
  width: 2em;
  height: 2em;
}
span.noti-prev {
  width: 100%;
  height: 3em;
  line-height: 2.2em;
  padding-top: 0.5em;
}

/* PROFILE PAGE */
div.profile-img {
  position: absolute;
  width: 7em;
  margin-top: 1em;
  padding-left: 6vw;
  z-index: 2;
}
img.profile-img {
  width: 7em;
  height: 7em;
  border-radius: 100em;
}
.basic-u-info {
  position: absolute;
  width: 100%;
  height: 9em;
  margin-top: 0em;
  padding-left: 9.5em;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px;
  border-color: #ddd;
  border-style: solid;

  /* background-color: rgba(245,245,245,1); */
}
.basic-u-info button {
  margin-top: .5em;
}
.ext-u-info {
  position: absolute;
  width: 100%;
  margin-top: 9em;
  height: auto;
  min-height: 10em;
  padding-left: 6vw;
  padding-right: 6vw;
}
.ext-u-info label {
  line-height: 1em;
  padding-top: 1em;
  margin-top: 0em;
  margin-bottom: 0.2em;
}
.ext-u-info span {
  line-height: 1.4em;
}

/* SETTINGS PANE */

.settings-head {
  position: absolute;
  top: 0;
  height: 5em;
  padding-left: 3.5vw;
  width: 100%;
}
.settings-self {
  position: absolute;
  top: 5em;
  padding-left: 6vw;
  width: 100%
}
.settings-self label {
  font-size: 1.2em;
}
.settings-save {
  float: right;
  font-size: 1.4em;
  line-height: 3.5em;
  padding-right: 0.5em;
}
.settings-save a {
  text-decoration: none;
  padding-left: 0.7em;
}
/* MESSAGING */

.chat-panel {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0em;
  padding-bottom: 0em;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  z-index: 2
}
.chat-self {
  position: absolute;
  top: 0em;
  padding-top: 3em;
  /* padding-bottom: 7.7em; */
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
.chat-panel ul {
  width: 100vw;
  margin-bottom: 0em;
}
.chat-panel li {
  position: relative;
  min-height: 3em;
  height: auto;
  width: 100%;
}

.sent-message {
  position: absolute;
  right: 0em;
  margin-right: 1em;
  /* float: right; */
  max-width: 70%;
  color: #ffffff;
  background-color: #2ecc71;
  border-color: #27af61;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;

  
}

.received-message {
  position: absolute;
  left: 0em;
  margin-left: 1em;
  /* float: left; */
  max-width: 70%;
  color: #ffffff;
  background-color: #3498db;
  border-color: #2386c8;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

div.message-input {
  position: fixed;
  width: 100vw;
  /* bottom: 0.5em; */
  background-color: #fff;
  height: 2.7em;
  transition: 0.2s ease-in-out;
}
.msg-input {
  position: absolute;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 100%;
}
.msg-in {
  height: 3em;
}
.msg-snd-btn {
  background-color: #2386c8;
  border-color: #2386c8;
  color: #fff;
  width: 3em;
}

.msg-dummy {
  margin-bottom: 4em;
}
/* TESTS */

.test {
  width: 100%;
  transition: 1s;
}
.testActive {
  width: 10%!important;
  transition: 1s;

}