@font-face {
    font-family: 'Kelson Sans';
    src: url('../webfonts/KelsonSans-Bold.eot');
    src: url('../webfonts/KelsonSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/KelsonSans-Bold.woff2') format('woff2'),
        url('../webfonts/KelsonSans-Bold.woff') format('woff'),
        url('../webfonts/KelsonSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kelson Sans Bold RU';
    src: url('../webfonts/KelsonSans-BoldRU.eot');
    src: url('../webfonts/KelsonSans-BoldRU.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/KelsonSans-BoldRU.woff2') format('woff2'),
        url('../webfonts/KelsonSans-BoldRU.woff') format('woff'),
        url('../webfonts/KelsonSans-BoldRU.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kelson Sans';
    src: url('../webfonts/KelsonSans-Regular.eot');
    src: url('../webfonts/KelsonSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/KelsonSans-Regular.woff2') format('woff2'),
        url('../webfonts/KelsonSans-Regular.woff') format('woff'),
        url('../webfonts/KelsonSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kelson Sans RU';
    src: url('../webfonts/KelsonSans-RegularRU.eot');
    src: url('../webfonts/KelsonSans-RegularRU.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/KelsonSans-RegularRU.woff2') format('woff2'),
        url('../webfonts/KelsonSans-RegularRU.woff') format('woff'),
        url('../webfonts/KelsonSans-RegularRU.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;;
    font-size: 16px;
    margin: 0em;
    overflow-x: hidden;
    font-family: 'Kelson Sans Ru';
}

h1 {
    font-size: 2.5em;
}

header {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 6em;
    padding: 0em;
/*    margin-top: -1em;*/
    background-color: #fff;
    z-index: 99;
}

img.logo {
    position: absolute;
    top: 0;
    float: left;
    margin: 0em;
    padding: 0em;
    width: 6em;
}

nav.top-top {
    top: 0;
    width: 910px;
    margin-left: auto;
    margin-right: auto;
    min-height: 4em;
}
div.nav-cnt {
    position: relative;
    flex-wrap: nowrap;
    height: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
}
.nav-cnt img {
    z-index: 2;
}
div.nav-cnt ul {
    max-width: 800px;
    float: right;
/*    position: absolute;*/
    display: flex;
    right: 0;
    margin-top: 0.4em;
    flex-direction: row;
    list-style: none;
}
div.nav-cnt ul li {
    font-family: 'Kelson Sans Bold RU';
    font-size: 1em;
    line-height: 1.5;
    padding: 0.5em 0.7em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

div.nav-cnt ul li a {
    text-decoration: none;
    color: #000;
}

.yellow-btn-top {
    position: relative;
    display: block;
    font-family: 'Kelson Sans Bold RU';
    top: -0.65em;
    width: auto;
    height: 1.2em;
    margin-left: -1.0em;
    color: #000;
    padding: 11px 17px!important;
    background-color: #ffff00;
    border-radius: 30px!important;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease 0s;
}

.yellow-btn-top:hover, .yellow-btn:hover {
    box-shadow: 0px 3px 8px 0 rgba(0,0,0,0.17);
    transition: all 300ms ease 0s;
}

nav.top-bottom {
    height: 2.1em;
    background-color: #000;
}
div.nav-bt-cnt {
    position: relative;
    flex-wrap: nowrap;
    height: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 910px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 15px;
    padding-right: 15px;
}
div.nav-bt-cnt ul {
    max-width: 800px;
    float: right;
    display: flex;
    color: #fff;
    margin-top: -1.1em;
    margin-right: 0em;
    flex-direction: row;
    list-style: none;
}
div.nav-bt-cnt ul li {
/*    visibility: hidden;*/
    font-family: 'Kelson Sans RU';
    letter-spacing: 0.03em;
    font-size: 0.8em;
    line-height: 1;
    padding: 0.45em 0.7em;
    margin-left: 4.75em;
}

.hero-wrapper {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.owl-carousel {
    top: 0em!important;
}

/* BODY */


.fr_section {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;
    max-width: 910px;
    display: block;
    background-color: #fff;
    text-align: center;
}
.fr_tr_section {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;
    max-width: 910px;
    display: block;
    text-align: center;
}
.join-cnt {
    display: inline-block;
    position: relative;
/*    width: 100vw;*/
    vertical-align: middle;
    text-align: center;
}

.grad-bg-70 {
    padding-top: 6em;
    display: table;
    width: 100vw;
    height: calc(70vh - 6em);
    vertical-align: middle;
    position: relative;
    background: url('../src/who_made_my_clothes.png') no-repeat center;
    background-size: cover;
}

.grad-bg-70 .slider-content h1 {
    font-size: 5em;
    text-shadow: 1px 2px 25px #292929;
}

.event-card {
    display: inline-block;
    position: relative;
    height: calc(910px / 3);
    width: 910px;
    padding-bottom: 2em;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.col-1-third {
    display: block;
    position: relative;
    float: left;
    width: 33.3%;
    height: 100%;
    background: url('../src/FashRev_pattern.png') no-repeat center;
    background-size: cover;
}

.col-2-third {
    display: block;
    float: left;
    position: relative;
    width: calc(66.6% - 2.5em);
    height: 100%;
    word-wrap: break-word;
    padding-left: 1.5em;
    padding-right: 1em;
    text-align: left;
}

.members {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 0px;
    max-width: 100vw;
    display: block;
    text-align: center;
    background-color: #e8dedd;
}

.team_card {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 16.66666666%;
    margin-bottom: 20px;
    margin-left: -5px!important;
    padding: 0!important;
}
img.team_thumb {
    width: 100%;
    height: 156px!important;
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: inherit;
    margin-bottom: -20px;
}
div.team_name {
    padding: 0.5em!important;
    height: 138px;
    line-height: 1.5;
    background-color: #fff;
    text-align: left;
    
}
div.team_name h4{
    font-weight: normal!important;
    margin-bottom: -10px;
}

footer {
    display: block;
    padding: 3em 0;
    background-color: #000;
    text-align: center;
}

footer i {
    color: #bbb;
    font-size: 1.5em;
    margin: 0.25em;
    cursor: pointer;
}
footer i:hover {
    color: #ffff00;
}

.error {
    display: table;
    position: relative;
    top: 0;
    width: 100vw;
    height: calc(100vh - 8.15em);
    vertical-align: middle;
    text-align: center;
}
.error span {
 mix-blend-mode: darken;
}
.error a {
    text-decoration: none;
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 1.5em;
    transition: 200ms ease 0s;
}
.error a:hover {
     color: rgb(250,128,112);
    border-color: rgb(250,128,112);
    transition: 200ms ease 0s;
}
/* CONSTRUCTABLES */

.huge {
    font-size: 10em;
    margin: 0;;
}
.blk {
    color: #000!important;
}
.red {
     color: rgb(250,128,112);
}
p.sm {
    font-size: 12px;
    line-height: 1.61;
    margin-bottom: 1em;
    font-weight: 400;
}

.yellow-btn {
    position: relative;
    display: inline-block;
    font-family: 'Kelson Sans Bold RU';
    top: -0.15em;
    height: 1.2em;
    color: #000;
    letter-spacing: 0.12em;
    padding: 11px 17px!important;
    background-color: #ffff00;
    border-radius: 30px!important;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease 0s;
}

.hollow-btn {
    position: relative;
    display: inline-block;
    font-family: 'Kelson Sans Bold RU';
    top: -0.15em;
    height: 1.2em;
    color: #fff;
    letter-spacing: 0.12em;
    padding: 11px 17px!important;
    background-color: transparent;
    border-radius: 30px!important;
    border: 1px solid #fff;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease 0s;
}

.trans-btn {
    position: relative;
    display: inline-block;
    font-family: 'Kelson Sans Bold RU';
    top: -0.65em;
    height: 1.2em;
    color: #fff;
    letter-spacing: 0.12em;
    padding: 11px 17px!important;
    margin-left: -1.6em;
    background-color: transparent;
    border-radius: 40px!important;
/*    border: 1px solid #fff;*/
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease 0s;
}

.hollow-btn:hover {
    background-color: #fff;
    color: #000;
    transition: all 300ms ease 0s;
}
.trans-btn:hover {
   background-color: rgba(222,222,222,0.3);
   transition: all 300ms ease 0s; 
}

#map {
    width: 100vw;
    height: 100%;
}

/* PARALLAX */

::-webkit-scrollbar { 
    display: none; 
}
.lg-prlx-cnt {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
/*  overflow-y: scroll;*/

}

.inner-prlx-cnt {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1.5px) scale(2.5);
}

.outer-prlx-cnt {
  display: block;
  position: relative;
  background-color: white;
  z-index: 1;
}